# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Virtual environments
*.egg-info/
dist/
build/

# Node.js (if applicable)
node_modules/

# data
data/

# Database files
*.sqlite3
*.db

# Other
*.swp
*.swo
